<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <link rel="shortcut icon" type="image/x-icon" href="{{'/favicon.ico' | prepend: site.baseurl}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;
        j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})
        (window,document,'script','dataLayer','GTM-5BRJQ75F');
    </script>
    <!-- End Google Tag Manager -->
  <link rel="stylesheet" href="{{'/assets/css/style.css' | relative_url }}">
  {% if page.css %}
  <link rel="stylesheet" href="{{ '/assets/css/' | append: page.css | relative_url }}">
  {% endif %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
</head>
<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5BRJQ75F"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Header -->
    <header>
        <!-- First Row -->
        <div class="top-bar">
        <nav>
            <ul>
            <li><a href="/insight">Insight</a></li>
            <li><a href="/careers">Careers</a></li>
            <li><a id="openContactBtn">Contact Us</a></li>
            <li><a href="/contact"></a></li>
            </ul>
        </nav>
        </div>

        <!-- Second Row -->
        <div class="main-nav">
        <div class="logo">
            <a href="{% if page.is_home %}#home{% else %}{{ '/' | relative_url }}#home{% endif %} "><img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Company Logo"></a>
        </div>
        <!-- Mobile Menu Toggle -->
        <div class="menu-toggle" id="menuToggle" style="margin-right: 20px;">
          <i class="fas fa-bars"></i>
        </div>
        <nav nav class="desktop-nav">
            <ul>
            <li><a href="{{ '/about/' | relative_url }}">About</a></li>
            <li><a href="{{ '/business/' | relative_url }}">Business Segment</a></li>
            <li><a href="{{ '/industries/' | relative_url }}">Industries</a></li>
            <li><a href="{{ '/solutions/' | relative_url }}">Solutions</a></li>
            </ul>
        </nav>
        <nav class="mobile-nav" id="mobileNav">
            <ul>
            <li><a href="{{ '/about/' | relative_url }}">About</a></li>
            <li><a href="{{ '/business/' | relative_url }}">Business Segment</a></li>
            <li><a href="{{ '/industries/' | relative_url }}">Industries</a></li>
            <li><a href="/solutions">Solutions</a></li>
            </ul>
        </nav>
        <div class="nav-overlay" id="navOverlay"></div>
        </div>
    </header>
    <!-- Main Content -->
    <main>
      {{ content }}
    </main>


    <div id="contactModal" class="modal">
      <div class="modal-content">
        <button id="closeContactBtn" class="close-btn">&times;</button>
        <h2>Contact Us</h2>
        <p>Share your details and we'll get back to you as soon as possible</p>
        <form id="contactForm">
          <input type="text" name="name" placeholder="Your Name" required>
          <input type="email" name="email" placeholder="Your Email" required>
          <textarea name="message" rows="4" placeholder="Your Message" required></textarea>
          <button type="submit">Send Message</button>
        </form>
      </div>
    </div>


        <!-- Footer -->
   <footer>
    <!-- First Layer -->
    <div class="footer-top">
      <div class="footer-col">
        <h4>Solutions</h4>
        <ul>
          <li style="margin-top: 7px;"><a href="/solutions/artificial-intelligence">Cloud Solutions</a></li>
          <li style="margin-top: 10px;"><a href="/solutions/digital-technology">Digital Transformation</a></li>
          <li style="margin-top: 10px;"><a href="/solutions/digital-technology">Artificial Intelligence</a></li>
          <li style="margin-top: 10px;"><a href="/solutions/digital-technology">Analytics & Data Solution</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Industries</h4>
        <ul>
          <li style="margin-top: 7px;"><a href="/industries/defense">Defense</a></li>
          <li style="margin-top: 10px;"><a href="/industries/healthcare">Healthcare</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Connect With Us</h4>
        <p>EER Digital Sdn Bhd</p>
        <p>E-7-7, Plaza Mont Kiara,</p>
        <p>No: 2, Jalan Kiara,</p>
        <p>50480 Wilayah Persekutuan Kuala Lumpur</p>
        <br>

        <!--<div class="social-icons">
          <a href="https://facebook.com" target="_blank">FB</a>
          <a href="https://twitter.com" target="_blank">TW</a>
          <a href="https://www.linkedin.com/in/eer-digital-sdn-bhd-4612b9389?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">IN</a>
        </div>
      </div>
      <div class="footer-col">
        <h4>&nbsp;</h4>-->
        <p><!-- you can leave this empty or use for newsletter later --></p>
      </div>
    </div>

    <!-- Second Layer -->
    <div class="footer-bottom">
      <p>&copy; {{ site.title }} {{ "now" | date: "%Y" }}</p>
    </div>
  </footer>

    <!-- Back to Top Button -->
    <div class="back-to-top" id="backToTop">↑</div>
    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script>
      // Initialize EmailJS with your Public Key
      (function() {
          emailjs.init("aWZ2xWoAJDYkxXU0S"); // Replace with your actual public key
      })();
    </script>
    <!-- JavaScript -->
     <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    {% if page.js %}
    <script src="{{ '/assets/js/' | append: page.js | relative_url }}"></script>
    {% endif %}

</body>
</html>